* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: black solid 1px; */
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
nav {
  background-color: #0199c8;
}
.banner-container {
  height: 300px; /* Ajusta la altura deseada */
  width: 100%; /* Ajusta el ancho deseado */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
}

.banner-container img {
  max-height: 100%;
  object-fit: cover;
}

.resumen-container{
  background-color: #019ac88e;
}
#footer{
  background-color: white !important;
}
#collage{
  background-color: white !important;
}
.collage-container {
  height: 1200px;
}

.row {
  padding: 0 !important;
}
#footer {
  height: 100%;
}
#footer img {
  max-width: 100%;
  width: 100%;
}
#mainDiv {
  width: 1000px;
  height: 100%;
  overflow: hidden;
}
#collage .col-12 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#collage .image-container {
  padding: 2px !important;
}

#collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0px !important;
  border-radius: 3%;
  filter: contrast(120%) !important;
}

.image-1x2 {
  flex-basis: calc(66.66% - 10px) !important;
  height: 100%; /* Added height property to fill the parent container */
}

.image-full {
  flex-basis: 100% !important;
  height: 100%; /* Added height property to fill the parent container */
}

.image-1x3 {
  max-width: 100% !important;
  height: 100%; /* Added height property to fill the parent container */
}
